<button pButton pRipple label="Back" routerLink="/pcbuilderhome"></button>
<h1 class="text-5xl font-bold">Computer Composer</h1>
<form [formGroup]="computerForm" (ngSubmit)="onSubmit()">
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Components
                </th>
                <th scope="col" class="px-6 py-3">
                    Component's name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th for="cpuID" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    CPU
                </th>
                <td class="px-6 py-4">
                    <p-multiSelect id="cpuID" name="cpuID" formControlName="cpuID" [selectionLimit]="1" [options]="cpuList" [(ngModel)]="selectedCPU" optionLabel="cpu_name"></p-multiSelect>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    GPU
                </th>
                <td class="px-6 py-4">
                    <p-multiSelect id="gpuID" name="gpuID" formControlName="gpuID" [selectionLimit]="1" [options]="gpuList" [(ngModel)]="selectedGPU" optionLabel="gpu_name"></p-multiSelect>
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th for="motherboardID" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Motherboard
                </th>
                <td class="px-6 py-4">
                    <p-multiSelect id="motherboardID" name="motherboardID" formControlName="motherboardID" [selectionLimit]="1" [options]="motherboardList" [(ngModel)]="selectedMBO" optionLabel="motherboard_name"></p-multiSelect>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th for="ramID" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    RAM
                </th>
                <td class="px-6 py-4">
                    <p-multiSelect id="ramID" name="ramID" formControlName="ramID" [selectionLimit]="1" [options]="ramList" [(ngModel)]="selectedRAM" optionLabel="ram_name"></p-multiSelect>
                </td>
            </tr>
            <tr for="storageID" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Storage
                </th>
                <td class="px-6 py-4">
                    <p-multiSelect id="storageID" name="storageID" formControlName="storageID" [selectionLimit]="1" [options]="storageList" [(ngModel)]="selectedStorage" optionLabel="storage_name"></p-multiSelect>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th for="psuID" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Power Supply
                </th>
                <td class="px-6 py-4">
                    <p-multiSelect id="psuID" name="psuID" formControlName="psuID" [selectionLimit]="1" [options]="psuList" [(ngModel)]="selectedPSU" optionLabel="power_supply_name"></p-multiSelect>
                </td>
            </tr>
            <tr  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th for="caseID" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Case
                </th>
                <td class="px-6 py-10">
                    <p-multiSelect id="caseID" name="caseID" formControlName="caseID" [selectionLimit]="1" [options]="caseList" [(ngModel)]="selectedCase" optionLabel="case_name"></p-multiSelect>
                </td>
            </tr>
        </tbody>
    </table>
    <button pButton pRipple label="Submit"></button>
</div>
</form>