<button pButton pRipple label="Back" routerLink="/pcbuilderhome"></button>


    <!-- <label for="cpuID">CPU:</label>
    <select id="cpuID" name="cpuID" formControlName="cpuID">
        <option *ngFor="let cpu of cpuList" [value]="cpu.cpu_name">{{ cpu.cpu_name }}</option>
    </select>
    <br/>
    <label for="gpuID">GPU:</label>
    <select id="gpuID" name="gpuID" formControlName="gpuID">
        <option *ngFor="let gpu of gpuList" [value]="gpu.gpu_name" >{{ gpu.gpu_name }}</option>
    </select>
    <br/>
    <label for="motherboardID">Motherboard:</label>
    <select id="motherboardID" name="motherboardID" formControlName="motherboardID">
        <option *ngFor="let motherboard of motherboardList" [value]="motherboard.motherboard_name" >{{ motherboard.motherboard_name }}</option>
    </select>
    <br/>
    <label for="ramID">RAM:</label>
    <select id="ramID" name="ramID" formControlName="ramID">
        <option *ngFor="let ram of ramList" [value]="ram.ram_name">{{ ram.ram_name }}</option>
    </select>
    <br/>
    <label for="storageID">Storage:</label>
    <select id="storageID" name="storageID" formControlName="storageID">
        <option *ngFor="let storage of storageList" [value]="storage.storage_name">{{ storage.storage_name }}</option>
    </select>
    <br/>
    <label for="psuID">Power Supply:</label>
    <select id="psuID" name="psuID" formControlName="psuID">
        <option *ngFor="let psu of psuList" [value]="psu.power_supply_name">{{ psu.power_supply_name }}</option>
    </select>
    <br/>
    <label for="caseID">Case:</label>
    <select id="caseID" name="caseID" formControlName="caseID">
        <option *ngFor="let case of caseList" [value]="case.case_name">{{ case.case_name }}</option>
    </select>
    <br/> -->

<form [formGroup]="computerForm" (ngSubmit)="onSubmit()">
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Components
                </th>
                <th scope="col" class="px-6 py-3">
                    Component's name
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th for="cpuID" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    CPU
                </th>
                <td class="px-6 py-4">
                    <select id="cpuID" name="cpuID" formControlName="cpuID">
                        <option  pPaginator *ngFor="let cpu of cpuList" [value]="cpu.cpu_name">{{ cpu.cpu_name }}</option>
                    </select>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    GPU
                </th>
                <td class="px-6 py-4">
                    <select id="gpuID" name="gpuID" formControlName="gpuID">
                        <option *ngFor="let gpu of gpuList" [value]="gpu.gpu_name" >{{ gpu.gpu_name }}</option>
                    </select>
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <th for="motherboardID" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   Motherboard
                </th>
                <td class="px-6 py-4">
                    <select id="motherboardID" name="motherboardID" formControlName="motherboardID">
                        <option *ngFor="let motherboard of motherboardList" [value]="motherboard.motherboard_name" >{{ motherboard.motherboard_name }}</option>
                    </select>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th for="ramID" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    RAM
                </th>
                <td class="px-6 py-4">
                    <select id="ramID" name="ramID" formControlName="ramID">
                        <option *ngFor="let ram of ramList" [value]="ram.ram_name">{{ ram.ram_name }}</option>
                    </select>
                </td>
            </tr>
            <tr for="storageID" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Storage
                </th>
                <td class="px-6 py-4">
                    <select id="storageID" name="storageID" formControlName="storageID">
                        <option *ngFor="let storage of storageList" [value]="storage.storage_name">{{ storage.storage_name }}</option>
                    </select>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th for="psuID" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Power Supply
                </th>
                <td class="px-6 py-4">
                    <select id="psuID" name="psuID" formControlName="psuID">
                        <option *ngFor="let psu of psuList" [value]="psu.power_supply_name">{{ psu.power_supply_name }}</option>
                    </select>
                </td>
            </tr>
            <tr  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th for="caseID" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Case
                </th>
                <td class="px-6 py-4">
                    <select id="caseID" name="caseID" formControlName="caseID">
                        <option *ngFor="let case of caseList" [value]="case.case_name">{{ case.case_name }}</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <button pButton pRipple label="Submit"></button>
</div>
</form>