<p-stepper orientation="vertical">
    <p-stepperPanel header="Start your adventure!">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">Content I</div>
            </div>
            <div class="flex py-4">
                <p-button label="Next" (onClick)="nextCallback.emit()" /></div
        ></ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Chapter 1: CPU">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">CPU</div>
            </div>
            <div class="flex py-4 gap-2">
                <p-button label="Back" severity="secondary" (onClick)="prevCallback.emit()" />
                <p-button label="Next" (onClick)="nextCallback.emit()" /></div
        ></ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Chapter 2: RAM">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">RAM</div>
            </div>
            <div class="flex py-4 gap-2">
                <p-button label="Back" severity="secondary" (onClick)="prevCallback.emit()" />
                <p-button label="Next" (onClick)="nextCallback.emit()" /></div
        ></ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Chapter 3: Storage">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">Storage</div>
            </div>
            <div class="flex py-4 gap-2">
                <p-button label="Back" severity="secondary" (onClick)="prevCallback.emit()" />
                <p-button label="Next" (onClick)="nextCallback.emit()" /></div
        ></ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Chapter 4: GPU">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">GPU</div>
            </div>
            <div class="flex py-4 gap-2">
                <p-button label="Back" severity="secondary" (onClick)="prevCallback.emit()" />
                <p-button label="Next" (onClick)="nextCallback.emit()" /></div
        ></ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Chapter 5: Motherboard">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">Motherboard</div>
            </div>
            <div class="flex py-4 gap-2">
                <p-button label="Back" severity="secondary" (onClick)="prevCallback.emit()" />
                <p-button label="Next" (onClick)="nextCallback.emit()" /></div
        ></ng-template>
    </p-stepperPanel>
    <p-stepperPanel header="Final chapter: The computer">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
            <div class="flex flex-column h-12rem">
                <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">The computer</div>
            </div>
            <div class="flex py-4">
                <p-button label="Back" (onClick)="prevCallback.emit()" /></div
        ></ng-template>
    </p-stepperPanel>
</p-stepper>
