
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        
        <h1 class="leading-relaxed text-6xl">Welcome to the workshop!</h1>
        <p>This is the place where you will choose your components to create your one of a kind desktop machine.</p>
        <p>Once you have selected your parts, we will go on an adventure to connect them all together.</p>
        <p>Are you ready? Lets begin!</p>
        <a routerLink="/partspicker" routerLinkActive="active-link"><button pButton pTooltip="Parts Picker Here" pRipple label="pick" class="p-button-success"></button></a>
        <br/>
        <br/>
        <a routerLink="/adventurebuild" routerLinkActive="active-link"><button pButton pTooltip="Part List here" pRipple label="lists" class="p-button-success"></button></a>    
        <!-- <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span> -->

      </div>
    </div>
  </section>

<!-- Enter here first as a hub 
1. Go to parts picker
2. Go to parts list
3. Print to PDF or save configurations to profile
4. Instructions to build (Visual adventures)
-->


<!--Story board
1. AMD VS Intel (Choose red or blue team)
2. Motherboard (Cheap, Mid range, high end)
3. RAM (High speed / High capacity)
4. Storage (SSD / HDD)
5. GPU (NVIDIA Geforce RTX/GTX, AMD Radeon RX, Intel ARC)
6. Power Supply (Grade [Bronze, Silver, Gold, Plat])
7. Case (Simple cases will do)
-->
