<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a routerLink="/home" routerLinkActive="active-link"
      class="no-underline flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="assets/logo/PC-omposer logo.png" alt="logo" />
      <span class="ml-3 font-bold text-3xl">PC-omposer</span>
    </a>
    <nav class="no-underline md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a  routerLink="/home" routerLinkActive="active-link" class="no-underline mr-5 hover:text-gray-900">Home</a>
      <a *ngIf="isLoggedIn()" routerLink="/dashboard" routerLinkActive="active-link"
        class=" no-underline mr-5 hover:text-gray-900">Dashboard</a>
      <a routerLink="/pcbuilderhome" routerLinkActive="active-link" class="no-underline mr-5 hover:text-gray-900">Pc
        Builder</a>
        <a *ngIf="isLoggedIn()" routerLink="/logout" routerLinkActive="active-link" class="no-underline mr-5 hover:text-gray-900">Logout</a>
        <a *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active-link" class="no-underline mr-5 hover:text-gray-900">Login</a>
    </nav>
  </div>
  <title>PC-omposer</title>
</header>

<router-outlet></router-outlet>

<footer *ngIf="router.url !== '/partspicker'" class="surface-section py-6 flex flex-column sm:flex-row align-items-center justify-content-between">
  <div class="flex flex-nowap font-medium">
    <a routerLink="/home" routerLinkActive="active-link"
      class="no-underline flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <span class="ml-3 font-bold text-3xl">PC-omposer</span>
    </a>
    <a *ngIf="isLoggedIn()" routerLink="/dashboard" routerLinkActive="active-link" pripple
      class="no-underline p-ripple p-element cursor-pointer block text-700 py-2 px-3 hover:surface-300 border-round hover:text-900">
      Dashboard
      <span class="p-ink"></span>
    </a>
    <a pripple  routerLink="/about" routerLinkActive="active-link"
      class="p-ripple p-element no-underline cursor-pointer block text-700 py-2 px-3 hover:surface-300 border-round hover:text-900">
      About Us
      <span class="p-ink"></span>
    </a>
  </div>
</footer>