<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <h1 class="leading-relaxed text-lg">Hello there, Welcome to PC-omposer! Where you can create your desktop computer, like a music composer.</h1>
        <p> This is a final year project that is done by yours truly. This system is a very basic web-application that uses AngularJs as the frontend and Django as the backend.</p>
        <p> The database that is used for this assignment is under PostgreSQL. </p>
        <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
        <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Soh Myles</h2>
        <p class="text-gray-500">PC-omposer Full Stack Developer</p>
      </div>
    </div>
  </section>
