<div class="grid grid-cols-2 gap-4 place-content-stretch h-48">
    <div class="grid grid-nogutter surface-section text-800">
        <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
            <section>
                <span class="block text-6xl font-bold mb-1">Compose your computer</span>
                <div class="text-6xl text-primary font-bold mb-3">like how musicians composes thier music
                    pieces!
                </div>
                <p class="mt-0 mb-4 text-700 line-height-3">Hello and welcome to Pc-omposer, your one place to
                    learn
                    and
                    build a computer from scratch. Select the following to choose your adventure!</p>
                <a routerLink="/pcbuilderhome" routerLinkActive="active-link"><button pButton pRipple
                        pTooltip="Learn and build a computer!" label="Start your journey here!"></button></a>
                <br/>
                <br/>
                <a *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active-link"><button pButton pRipple
                        pTooltip="Login to your account!" label="Login here!" class="p-button-success"></button></a>
                <a *ngIf="isLoggedIn()" routerLink="/partspicker" routerLinkActive="active-link"><button pButton pRipple
                    pTooltip="Spec out a desktop!" label="Compose a machine"class="p-button-success"></button></a>
            </section>
        </div>
        <div class="col-12 md:col-6 overflow-hidden">
            <img src="assets/backgrounds/background1.png" alt="Image" class="md:ml-auto block"
                style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
        </div>
    </div>

    <h3> Try out our prompt-to-build system!</h3>
    
    <div class="card flex justify-content-center">
        <form [formGroup]="promptForm" (ngSubmit)="onSubmit()">
            <div class="flex form-group p-float-label">
                <input pInputText id="prompt" formControlName="prompt" class="form-control" class="w-full md:w-30rem">
                <label for="prompt">Beta testing prompt-to-build</label>
            </div>
            <br />
            <button pButton pRipple label="Try now!" class="w-full p-3 text-xl" type="submit"></button>
        </form>
    </div>
</div>