<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Compose your computer</span>
            <div class="text-6xl text-primary font-bold mb-3">like how Mozart composes his music pieces!</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Hello and welcome to Pc-omposer, your one place to learn and build a computer from scratch. Select the following to choose your adventure!</p>
            <a routerLink="/pcbuilderhome" routerLinkActive="active-link" ><button pButton pRipple label=" Lets get to cooking" ></button></a>
            <br/> <br/>
            <a routerLink="/login" routerLinkActive="active-link"><button pButton pRipple label="Login" class="p-button-success"></button></a>    
        </section>
    </div>
</div>
