<section class="text-gray-600 body-font">
    <div
      class="container mx-auto flex px-5 py-24 items-center justify-center flex-col"
    >
      <div class="text-center lg:w-2/3 w-full">
        <h1
          class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
        >
          PC-omposer
        </h1>
        <p>You have been logged out</p>
        <p>You can login with the button below</p>
  
        <br />
        <div>
            <button pButton pRipple label="Sign in here" routerLink="/login" routerLinkActive="active-link" class="w-50 p-3 text-xl" type="submit">
          </button>
        </div>
      </div>
    </div>
  </section>