<div
    class="surface-ground flex align-items-center justify-content-center pt-7 min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Create an account!</div>
                    <span class="text-600 font-medium">Already have an account?</span>
                    <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/login"
                        routerLinkActive="active-link">Login now!</a>
                </div>
                <div>
                    <form [formGroup]="registrationForm">
                        <label for="username" class="block text-900 text-xl font-medium mb-2">Username</label>
                        <div class="form-group">
                            <input id="username" type="text" formControlName="username" class="form-control" placeholder="Username" pInputText
                                class="w-full md:w-30rem mb-5" style="padding:1rem">
                        </div>
                        <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <div class="form-group">
                            <input id="email" type="email" formControlName="email" class="form-control" placeholder="Email address" pInputText
                                class="w-full md:w-30rem mb-5" style="padding:1rem">
                        </div>
                        <label for="password" class="block text-900 font-medium text-xl mb-2">Password</label>
                        <div class="form-group">
                            <input id="password" type="password" formControlName="password" class="form-control" placeholder="Password" pInputText
                                class="w-full md:w-30rem mb-5" style="padding:1rem">
                            <p> Your password can’t be too similar to your other personal information.</p>
                            <p>   Your password must contain at least 8 characters.</p>
                            <p>  Your password can’t be a commonly used password.</p>
                            <p>   Your password can’t be entirely numeric.</p>
                        </div>
                            
                         <label for="phone_number" class="block text-900 font-medium text-xl mb-2">Phone
                                Number</label>
                        <div class="form-group">
                            <input id="phone_number" type="text" formControlName="phone_number" class="form-control" placeholder="+60-123455667" pInputText
                                class="w-full md:w-30rem mb-5" style="padding:1rem">
                        </div>
                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            <button type="submit" pButton pRipple label="Register" class="w-full p-3 text-xl" (click)="addUser()"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>